html,
body {
  height: 100%;
  margin: 0;
}
/* Styling for the page header */
.team-heading {
  background: #ff5a5f;
  color: #f1f7ed;
  border-radius: 0;
}

/* Styling for the page content  */
.team-area {
  padding: 20px;
}

/* Styling for the card that holds each employee's profile information */
.employee-col {
  padding: 8px;
}

.employee-card {
  min-width: 25%;
  min-height: 100%;
  border-radius: 8;
  border: solid #ff5a5f 2px;
}

.card-header {
  color: white;
  text-align: center;
}

.employee-name {
  font-weight: bold;
}

.employee-role {
  font-weight: normal;
}

.card-body {
  padding: 10px;
  background-color: whitesmoke;
}

.list-group li {
  padding: 5px;
  background-color: whitesmoke;
  color: #171d1c;
  border-radius: 0 !important;
  border: none;
}

@media (min-width: 200px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .title {
    font-size: 28px;
  }
  h2 {
    font-size: 23px;
  }
  .employee-name {
    font-size: 21px;
  }
  h4,
  .employee-role {
    font-size: 15px;
  }
  h5,
  .list-group-item {
    font-size: 12px;
  }
  .fas {
    font-size: 12px;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .title {
    font-size: 28px;
  }
  h2 {
    font-size: 23px;
  }
  h3,
  .employee-name {
    font-size: 22px;
  }
  h4,
  .employee-role {
    font-size: 15px;
  }

  .list-group-item {
    font-size: 12px;
  }
  li {
    font-size: 12px;
  }
  .fas {
    font-size: 14px;
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .title {
    font-size: 35px;
  }
  h2 {
    font-size: 28px;
  }
  h3,
  .employee-name {
    font-size: 23px;
  }
  h4,
  .employee-role {
    font-size: 17px;
  }
  .list-group-item {
    font-size: 14px;
  }
  .fas {
    font-size: 16px;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .title {
    font-size: 35px;
  }
  h2 {
    font-size: 28px;
  }
  h3,
  .employee-name {
    font-size: 25px;
  }
  h4,
  .employee-role {
    font-size: 17px;
  }
  .list-group-item {
    font-size: 14px;
  }
  .fas {
    font-size: 18px;
  }
  .team-area {
    padding: 40px;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .title {
    font-size: 42px;
  }
  h2 {
    font-size: 32px;
  }
  h3,
  .employee-name {
    font-size: 28px;
  }
  h4,
  .employee-role {
    font-size: 19px;
  }
  .list-group-item {
    font-size: 15px;
  }
  .fas {
    font-size: 20px;
  }
  .team-area {
    padding: 40px;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .title {
    font-size: 42px;
  }
  h2 {
    font-size: 32px;
  }
  h3,
  .employee-name {
    font-size: 30px;
  }
  h4,
  .employee-role {
    font-size: 19px;
  }
  .list-group-item {
    font-size: 18px;
  }
  .fas {
    font-size: 20px;
  }
  .team-area {
    padding: 40px;
  }
}
